---
---

// Variables
$body-bg: #e6ff84;
$font-stack: Helvetica, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
$base-font-size: 18px;
$h1-font-size: 48px;
$h2-font-size: 38px;
$h3-font-size: 20px;

// Base styles
body {
  background-color: $body-bg;
  font-family: $font-stack;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
header {
  border-bottom: 2px solid #000;
}


@media (min-width: 992px) {
  .navbar-expand-lg {
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
}
.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 900px;
}

h1 {
  font-size: $h1-font-size;
  margin: 0.5rem 0;
}

h2 {
  font-size: $h2-font-size;
  margin: 0.5rem 0;
}

h3 {
  font-size: $h3-font-size;
  margin: 0.5rem 0;
}

em {
  font-style: italic;
  background-color: rgb(120, 145, 24);
  color: white;
  border: 1px solid rgb(60, 74, 1);
  border-radius: 8px;
  padding: 0.2em 0.4em;
  font-style: normal;
  line-height: 2em;
}


nav {
  .brand {
    background-color: #fff;
    padding: 1rem;
    border-right: 2px solid #000;
  }
  // Container div that wraps the logo and menu
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // Logo styles (if you need to adjust spacing around the logo)
  a {
    text-decoration: none;
    color: inherit;
  }

  // Styles for the menu
  ul {
    display: flex;      // Make list items appear horizontally
    list-style: none;   // Remove default bullets
    margin: 0 1rem;
    padding: 0;
    height:89px
  }

  // Space out the menu items
  li {
    margin-left: 20px;  // Adjust spacing as needed
    padding-left: 1rem;
    border-left: 2px solid #000;
    a {
      display: block;
      padding-top: 2rem;
    }
  }
}
